.resume {
    background: white;
    color: black;
    padding: 30px;
    width: 650px;
    position: relative;
    top: 5%;
}

.headline {
    font-weight: bold;
}

.gen {
    background-color: dimgray;
    color: white;
    text-align: center;
    padding: 1px;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
}

.sectionheader {
    background-color: lightgray;
    padding-left: 10px;
}

h3 {
    margin: 5px;
}

p {
    margin: 5px;
}


.resume-btns {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.2s linear;
    cursor: default;
    color: slategray;
}

.edit-btn {
    color: olive;
    cursor: pointer;
}
.edit-btn:hover {
    text-decoration: underline;
}

.delete-btn {
    color: firebrick;
    cursor: pointer;
}
.delete-btn:hover {
    text-decoration: underline;
}

.info-block:hover .resume-btns {
    visibility: visible;
    display: inline-block;
    opacity: 1;
    transition-delay: 0s;
}

.skills-helper {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.2s linear;
    cursor: default;
    color: slategray;
    font-weight: bold;
}

.skills-block:hover .skills-helper {
    visibility: visible;
    display: inline-block;
    opacity: 1;
    transition-delay: 0s;
}

.skill-entry {
    cursor: pointer;
}