.resume {
    background: white;
    color: black;
    padding: 30px;
    width: 650px;
}

.headline {
    font-weight: bold;
}

.gen {
    background-color: dimgray;
    color: white;
    text-align: center;
    padding: 1px;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
}

.sectionheader {
    background-color: lightgray;
    padding-left: 10px;
}

h3 {
    margin: 5px;
}

p {
    margin: 5px;
}


.resume-btns {
    display: none;
    cursor: default;
    color: slategray;
}

.edit-btn {
    color: olive;
    cursor: pointer;
}
.edit-btn:hover {
    text-decoration: underline;
}

.delete-btn {
    color: firebrick;
    cursor: pointer;
}
.delete-btn:hover {
    text-decoration: underline;
}

.info-block:hover .resume-btns {
    display: inline-block;
}