#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.formsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}